.navItem{
  list-style: none;
  margin-left: 5px;
  font-family: gill sans;
}
.branding{
	margin-left: 62px;
}
.home{
	margin-top: 63px;
	color: #76002e;
	font-size: 23px;
}
.title{
	margin-top: 4px;
    margin-left: 86px;
    font-family: gill sans;
    font-size: 63px;
    color: #7c1c2e;
    font-weight: lighter;
}

.top-bar-left{
	margin-left: 20px;
}

.submit{
	margin-left: 10px;
	background-color: #ffffff;
	border: none;
}

@media screen and (max-width: 639px) {
.home{
	margin-top: 0px;
    margin-left: 70px;
}

.title{
	margin-top: 0px;
}

}
