
#pageTitle {
  background-color: #42D1C7;
  margin-top: 22px;
  margin-right: 22px;
  padding-left: 12px;
}

.tabs-content {
  background-color: #42D1C7;
  margin-left: 22px;
  margin-right: 22px;
}

