.navItem{
  list-style: none;
  margin-left: 5px;
  font-family: gill sans;
}
.branding{
	margin-right: 0px;
	padding-right: 0px;
}
.home{
	margin-top: 110px;
	color: #76002e;
	font-size: 23px;
}
.title{
	margin-top: 95px;
    margin-left: 50px;
}

.top-bar-left{
	margin-left: 20px;
}

.submit{
	margin-left: 10px;
	background-color: #ffffff;
	border: none;
}

/*.favorites{
	margin-left: 220px;
}*/